
@{
    ViewBag.Title = "Index";
}

    <div class="col-lg-9" id="specials">
        <div id="breadcrumb">
            <div class="icon">
                <a href="#">
                    <i class="fa fa-home"></i>
                </a>
                <i class="fas fa-chevron-right"></i>
            </div>
            <a href="#">Special Offers</a>
        </div>
        <div id="navbar">
            <div class="row">
                <div class="col-lg-2">
                    <div class="images">
                        <ul>
                            <li>
                                <div class="image">
                                    <img src="~/Public/img/view-list.png" alt="list wiew">
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="~/Public/img/view-grid.png" alt="view-grid">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="compare">
                        <a href="#">Product Compare(0)</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sort">
                        <h2>Sort By: </h2>
                        <select class="form-control">
                            <option selected>Default</option>
                            <option>Default select</option>
                            <option>Default select</option>
                            <option>Default select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="show">
                        <h2>Show: </h2>
                        <select class="form-control">
                            <option selected>7</option>
                            <option>9</option>
                            <option>25</option>
                            <option>49</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="products">
            <div class="row">
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>Apple Cinema  </h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/connect.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>MacBook  </h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/camera.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image">
                            <img src="~/Public/img/products/tv.jpg" alt="phone">
                        </div>
                        <div class="overlay">
                            <img src="~/Public/img/products/phone.jpg" alt="phone">
                        </div>
                        <div class="forSale">
                            <span>SALE</span>
                        </div>
                        <div class="choose">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div><i class="fas fa-shopping-cart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-heart"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="far fa-chart-bar"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h4>sony tv</h4>
                            <h5>$110.00 <span>$122.00</span></h5>
                            <div class="stars">
                                <ul>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star"></i> </li>
                                    <li> <i class="fa fa-star sade"></i> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
