
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-9 col-sm-8" id="siteMap">
    <div id="breadcrumb">
        <div class="icon">
            <a href="#">
                <i class="fa fa-home"></i>
            </a>
            <i class="fas fa-chevron-right"></i>
        </div>
        <a href="#">Site Map</a>
    </div>
    <div class="row myMap">
        <div class="col-lg-6">
            <ul>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=38">Accessories</a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=43">
                        test
                        11
                    </a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=20">Desktops</a>
                    <ul>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=20_26">PC</a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=20_27">Mac</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=18">Laptops</a>
                    <ul>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=18_46">Macs</a>
                            <ul>
                                <li>
                                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=18_46_34">
                                        MP3
                                        Players
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=18_45">Windows</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=25">Components</a>
                    <ul>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=25_29">
                                Mice
                                and Trackballs
                            </a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=25_28">Monitors</a>
                            <ul>
                                <li>
                                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=25_28_35">Earrings</a>
                                </li>
                                <li>
                                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=25_28_36">
                                        Smart
                                        phones
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=25_30">Printers</a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=25_31">Scanners</a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=25_32">
                                Web
                                Cameras
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=57">Tablets</a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=17">Software</a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=24">
                        Phones
                        &amp; PDAs
                    </a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=33">Cameras</a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/category&amp;path=42">
                        Home
                        Applinaces
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/special">Specials</a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=account/account">
                        My
                        Account
                    </a>
                    <ul>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=account/edit">
                                Account
                                Information
                            </a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=account/password">Password</a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=account/address">
                                Address
                                Book
                            </a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=account/order">
                                Order
                                History
                            </a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=account/download">Downloads</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=account/order">
                        View
                        Cart
                    </a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=checkout/checkout">Checkout</a>
                </li>
                <li>
                    <a href="http://templatetasarim.com/opencart/Electron/index.php?route=product/search">Search</a>
                </li>
                <li>
                    Information
                    <ul>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=information/information&amp;information_id=4">
                                About
                                Us
                            </a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=information/information&amp;information_id=6">
                                Delivery
                                Information
                            </a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=information/information&amp;information_id=3">
                                Privacy
                                Policy
                            </a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=information/information&amp;information_id=5">
                                Terms
                                &amp; Conditions
                            </a>
                        </li>
                        <li>
                            <a href="http://templatetasarim.com/opencart/Electron/index.php?route=information/contact">
                                Contact
                                Us
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
