
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-9 col-sm-8" id="siteMap">
    <div id="breadcrumb">
        <div class="icon">
            <a href="#">
                <i class="fa fa-home"></i>
            </a>
            <i class="fas fa-chevron-right"></i>
        </div>
        <a href="#">Site Map</a>
    </div>
    <div class="row myMap">
        <div class="col-lg-6">
            <ul>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">
                        test
                        11
                    </a>
                </li>
                <li>
                    <a href="#">Desktops</a>
                    <ul>
                        <li>
                            <a href="#">PC</a>
                        </li>
                        <li>
                            <a href="#">Mac</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Laptops</a>
                    <ul>
                        <li>
                            <a href="#">Macs</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        MP3
                                        Players
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Windows</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Components</a>
                    <ul>
                        <li>
                            <a href="#">
                                Mice
                                and Trackballs
                            </a>
                        </li>
                        <li>
                            <a href="#">Monitors</a>
                            <ul>
                                <li>
                                    <a href="#">Earrings</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Smart
                                        phones
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Printers</a>
                        </li>
                        <li>
                            <a href="#">Scanners</a>
                        </li>
                        <li>
                            <a href="#">
                                Web
                                Cameras
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>

                <li>
                    <a href="#">Laptops</a>
                    <ul>
                        <li>
                            <a href="#">Macs</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        MP3
                                        Players
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Windows</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Components</a>
                    <ul>
                        <li>
                            <a href="#">
                                Mice
                                and Trackballs
                            </a>
                        </li>
                        <li>
                            <a href="#">Monitors</a>
                            <ul>
                                <li>
                                    <a href="#">Earrings</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Smart
                                        phones
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Printers</a>
                        </li>
                        <li>
                            <a href="#">Scanners</a>
                        </li>
                        <li>
                            <a href="#">
                                Web
                                Cameras
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
