
@{
    ViewBag.Title = "Index";
}

<!-- Shopping Cart page -->
<div class="col-lg-9 col-sm-8" id="soppingCart">
    <div id="breadcrumb">
        <div class="icon">
            <a href="#">
                <i class="fa fa-home"></i>
            </a>
            <i class="fas fa-chevron-right"></i>
        </div>
        <a href="#">Shopping Cart</a>
    </div>
    <h2 class="title">Shopping Cart (10.00kg)</h2>
    <div id="products">
        <table class="table table-bordered">
            <colgroup>
                <col style="width: 140px;">
                <col style="width: 184px;">
                <col style="width: 124px;">
                <col style="width: 190px;">
                <col style="width: 113px;">
            </colgroup>
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Product Name</td>
                    <td>Model</td>
                    <td>Quantity</td>
                    <td class="price">Unit Price</td>
                    <td class="price">Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <a href="#"><img src="~/Public/img/products/notbuk.jpg" alt=""></a>
                    </td>
                    <td>
                        <a href="#">iPhone</a>
                    </td>
                    <td>
                        product 11
                    </td>
                    <td>
                        <div class="miqdar">
                            <input type="text" value="1">
                            <button class="btn refresh"><i class="fas fa-sync-alt"></i></button>
                            <button class="btn remove"><i class="fa fa-times-circle"></i></button>
                        </div>
                    </td>
                    <td class="price">$123.20</td>
                    <td class="price">$123.20</td>


                </tr>
                <tr>
                    <td class="text-center">
                        <a href="#"><img src="~/Public/img/products/phone.jpg" alt=""></a>
                    </td>
                    <td>
                        <a href="#">iPhone</a>
                    </td>
                    <td>
                        product 11
                    </td>
                    <td>
                        <div class="miqdar">
                            <input type="text" value="1">
                            <button class="btn refresh"><i class="fas fa-sync-alt"></i></button>
                            <button class="btn remove"><i class="fa fa-times-circle"></i></button>
                        </div>
                    </td>
                    <td class="price">$2.00</td>
                    <td class="price">$26.0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="total">
        <table class="table table-bordered">
            <colgroup>
                <col style="width: 167px;">
                <col style="width: 96px;">
            </colgroup>
            <tbody>
                <tr>
                    <th class="price">Sub-Total:</th>
                    <td class="price">$ 456</td>

                </tr>
                <tr>
                    <th class="price">Eco Tax (-2.00):</th>
                    <td class="price">$123.20</td>
                </tr>
                <tr>
                    <th class="price">VAT (20%):</th>
                    <td class="price">$123.20</td>
                </tr>
                <tr>
                    <th class="price">Total:</th>
                    <td class="price">$123.20</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <button class="btn">Continue Shopping</button>
        <button class="btn checkout">Checkout</button>
    </div>
</div>
<!-- end of shopping cart page css  -->
