@model FinalElectron.Models.Blog

@{
    ViewBag.Title = "Index";
}


<div class="col-lg-9 col-sm-8" id="productDetails">
    <div id="breadcrumb">
        <div class="icon">
            <a href="#">
                <i class="fa fa-home"></i>
            </a>
            <i class="fas fa-chevron-right"></i>
        </div>
        <a href="#">Blogs</a>
        <div class="icon">
            <i class="fas fa-chevron-right"></i>
        </div>
        <a href="#">@Model.Title</a>
    </div>
    <!-- images and general info  -->
    <div class="row product">
        <div class="col-lg-12">
            <h3 style="font-size:20px; letter-spacing:1px; color:#212121; line-height:1.1">
            @Model.SubTitle
            </h3>
            <img src="~/Uploads/@Model.Image" width="90%" alt="Alternate Text" />
            @Html.Raw(Model.Content)
        </div>
    </div>
   

</div>