//Colors
$main-color: #ed1e3c;
$title-color: #333;
$sub-title-color: blue;

//Font sizes
$title-size: 35px;
$sec-title-size: 20px;
$btn-size: 14px;
$text-size: 16px;


//Font family
$main-font: 'Open Sans', sans-serif ;
