
@{
    ViewBag.Title = "Index";
}

    <div class="col-lg-9 col-sm-8" id="productDetails">
        <div id="breadcrumb">
            <div class="icon">
                <a href="#">
                    <i class="fa fa-home"></i>
                </a>
                <i class="fas fa-chevron-right"></i>
            </div>
            <a href="#">Apple Cinema 30"</a>
        </div>
        <!-- images and general info  -->
        <div class="row product">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="images">
                    <div class="mainImage">
                        <img src="~/Public/img/products/connect.jpg" alt="connect">
                    </div>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="~/Public/img/products/airpod samsung.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Public/img/products/camera.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Public/img/products/connect.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Public/img/products/dinamik.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Public/img/products/dinamik2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Public/img/products/notbuk.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Public/img/products/phone.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="proInfo">
                    <h1> samsung galaxy s6</h1>
                    <hr>
                    <ul class="name">
                        <li>
                            Brand: <h3><a href="#">Samsung</a></h3>
                        </li>
                        <li>
                            Product Code: <h3>kl23</h3>
                        </li>
                        <li>
                            Availability: <h3>In Stock</h3>
                        </li>
                    </ul>
                    <hr>
                    <h6>$110.00</h6>
                    <hr>
                    <ul class="list-unstyled">
                        <li>
                            10 or more $107.60
                        </li>
                        <li>
                            20 or more $94.40
                        </li>
                        <li>
                            30 or more $81.20
                        </li>
                    </ul>
                    <hr>
                    <h1>Available Options</h1>
                    <h5>select</h5>
                    <form>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>-- Please Select --</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </form>
                    <hr>
                    <div class="quantity">
                        <h2>Qty</h2>

                        <div class="dizayn prevBtn">
                            <span>-</span>
                        </div>
                        <div class="form-group">
                            <input type="number" value="1">
                        </div>
                        <div class="dizayn nextBtn">
                            <span>+</span>
                        </div>
                    </div>
                    <hr>
                    <div class="choose">
                        <button class="btn">Add to Cart</button>
                        <button class="btn">
                            <i class="fa fa-heart"></i>
                        </button>
                        <button class="btn">
                            <i class="fas fa-compress-alt"></i>
                        </button>
                    </div>
                    <hr>
                    <div class="stars">
                        <ul>
                            <li> <i class="fa fa-star"></i> </li>
                            <li> <i class="fa fa-star"></i> </li>
                            <li> <i class="fa fa-star"></i> </li>
                            <li> <i class="fa fa-star sade"></i> </li>
                            <li> <i class="fa fa-star sade"></i> </li>
                        </ul>
                    </div>
                    <h3 class="reviewCount">
                        <a href="#">1 review(s)</a>
                        <a href="#">Write a review</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- product details info  -->
        <div class="row proInfo">
            <div class="col-lg-12">
                <div class="myNav">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab"
                               href="#nav-home" role="tab" aria-controls="nav-home"
                               aria-selected="true">Description</a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab"
                               href="#nav-profile" role="tab" aria-controls="nav-profile"
                               aria-selected="false">Specifiation</a>
                            <a class="nav-link" id="nav-contact-tab" data-toggle="tab"
                               href="#nav-contact" role="tab" aria-controls="nav-contact"
                               aria-selected="false">Reviews (1)</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <p>
                                The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel
                                resolution. Designed specifically for the creative professional, this
                                display provides more space for easier access to all the tools and
                                palettes needed to edit, format and composite your work. Combine this
                                display with a Mac Pro, MacBook Pro, or PowerMac G5 and there's no limit
                                to what you can achieve.
                            </p>
                            <p>
                                The Cinema HD features an active-matrix liquid crystal display that
                                produces flicker-free images that deliver twice the brightness, twice
                                the sharpness and twice the contrast ratio of a typical CRT display.
                                Unlike other flat panels, it's designed with a pure digital interface to
                                deliver distortion-free images that never need adjusting. With over 4
                                million digital pixels, the display is uniquely suited for scientific
                                and technical applications such as visualizing molecular structures or
                                analyzing geological data.
                            </p>
                            <p>
                                Housed in a new aluminum design, the display has a very thin bezel that
                                enhances visual accuracy. Each display features two FireWire 400 ports
                                and two USB 2.0 ports, making attachment of desktop peripherals, such as
                                iSight, iPod, digital and still cameras, hard drives, printers and
                                scanners, even more accessible and convenient. Taking advantage of the
                                much thinner and lighter footprint of an LCD, the new displays support
                                the VESA (Video Electronics Standards Association) mounting interface
                                standard. Customers with the optional Cinema Display VESA Mount Adapter
                                kit gain the flexibility to mount their display in locations most
                                appropriate for their work environment.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                             aria-labelledby="nav-profile-tab">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col style="width: 50%;">
                                </colgroup>
                                <thead>

                                    <tr>
                                        <th colspan="2" class="title">Product Details</th>
                                    </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>
                                            pro1
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>Price</td>
                                        <td>
                                            789$
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>rating</td>
                                        <td>

                                            <h6>Based on 1 reviews.</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="5">Processor</th>
                                    </tr>
                                    <tr>
                                        <td>Model</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                             aria-labelledby="nav-contact-tab">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col style="width: 50%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Product Details</th>
                                        <td class="date">Product Details</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            Encapsulate an ultimate look, wearing these
                                            sneakers from Sparx. This pair is designed to ensure that
                                            every nerve in your feet can relax on its comfortable rubber
                                            sole.<div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th>Product Details</th>
                                        <td class="date">Product Details</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            Encapsulate an ultimate look, wearing these
                                            sneakers from Sparx. This pair is designed to ensure that
                                            every nerve in your feet can relax on its comfortable rubber
                                            sole.<div class="stars">
                                                <ul>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                    <li> <i class="fa fa-star sade"></i> </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Write A Review</h4>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input type="email" class="form-control"
                                           id="exampleFormControlInput1">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                              rows="3"></textarea>
                                </div>
                                <label for="rating">Rating</label>
                                <h3>Bad</h3>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                           name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                </div>
                                <h3>Good</h3>
                                <br>
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar product  -->
        <div class="row">
            <div class="col-lg-12">
                <div id="related">
                    <div class="topbar">
                        <div class="title">
                            <h2>related PRODUCTS</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="sliderProducts">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/parfum.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <!-- <img src="~/Public/img/products/notbuk.jpg" alt="phone"> -->
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/phone.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/camera.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/parfum.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/dinamik.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/phone.jpg" alt="phone">
                                    </div>
                                    <!-- <div class="forSale">
                                    <span>SALE</span>
                                </div> -->
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/phone.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/notbuk.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="image">
                                        <img src="~/Public/img/products/tv.jpg" alt="phone">
                                    </div>
                                    <div class="overlay">
                                        <img src="~/Public/img/products/phone.jpg" alt="phone">
                                    </div>
                                    <div class="forSale">
                                        <span>SALE</span>
                                    </div>
                                    <div class="choose">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div><i class="fas fa-shopping-cart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-heart"></i></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div><i class="far fa-chart-bar"></i></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h4>sony tv</h4>
                                        <h5>$110.00 <span>$122.00</span></h5>
                                        <div class="stars">
                                            <ul>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star"></i> </li>
                                                <li> <i class="fa fa-star sade"></i> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
