
@{
    ViewBag.Title = "Index";
}

<!-- product details page -->
<div class="col-lg-9 col-sm-8" id="compare">
    <div id="breadcrumb">
        <div class="icon">
            <a href="#">
                <i class="fa fa-home"></i>
            </a>
            <i class="fas fa-chevron-right"></i>
        </div>
        <a href="#">Product Comparison</a>
    </div>
    <div id="products">
        <table class="table table-bordered">
            <colgroup>
                <col style="width: 98px;">
            </colgroup>
            <thead>

                <tr>
                    <th colspan="5">Product Details</th>
                </tr>
                <tr>
                    <td>Product</td>
                    <th scope="col">
                        <a href="3">pro1</a>
                    </th>
                    <th scope="col">
                        <a href="3">pro2</a>
                    </th>
                    <th scope="col">
                        <a href="3">pro3</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>image</td>
                    <td class="text-center">
                        <img src="~/Public/img/products/notbuk.jpg" alt="">
                    </td>
                    <td class="text-center">
                        <img src="~/Public/img/products/phone.jpg" alt="">
                    </td>
                    <td class="text-center">
                        <img src="~/Public/img/products/dinamik2.jpg" alt="">
                    </td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>
                        <span>425$</span>
                        789$
                    </td>
                    <td>d videos with a flick. Flip thr..</td>
                    <td>@@fat</td>
                </tr>
                <tr>
                    <td>rating</td>
                    <td>
                        <div class="stars">
                            <ul>
                                <li> <i class="fa fa-star"></i> </li>
                                <li> <i class="fa fa-star"></i> </li>
                                <li> <i class="fa fa-star"></i> </li>
                                <li> <i class="fa fa-star sade"></i> </li>
                                <li> <i class="fa fa-star sade"></i> </li>
                            </ul>
                        </div>
                        <h6>Based on 1 reviews.</h6>
                    </td>
                </tr>
                <tr>
                    <th colspan="5">Processor</th>
                </tr>
                <tr>
                    <td>Model</td>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <button class="btn addPro">
                            Add to Cart
                        </button>
                        <button class="btn removePro">
                            Remove
                        </button>
                    </th>
                    <th>
                        <button class="btn addPro">
                            Add to Cart
                        </button>
                        <button class="btn removePro">
                            Remove
                        </button>
                    </th>
                    <th>
                        <button class="btn addPro">
                            Add to Cart
                        </button>
                        <button class="btn removePro">
                            Remove
                        </button>
                    </th>

                </tr>
            </tbody>
        </table>
    </div>
</div>
